* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header {
  padding: 20px 0;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo h1 {
  padding-left: 16px;
  color: #173a56;
  font-size: 30px;
  font-weight: 700;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav a {
  color: #22343d;
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px;
}

.header-btn1 {
  width: 102px;
  height: 43px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  color: #173a56;
  font-size: 16px;
  font-weight: 600;
}

.header-btn2 {
  width: 110px;
  height: 43px;
  border-radius: 4px;
  background: #02897a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0 24px;
}

#hero {
  margin-top: 174px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text h1 {
  color: #22343d;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px; /* 150% */
}

.hero-text p {
  padding: 18px 0 45px 0;
  color: #22343d;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.hero-btn1 {
  width: 175px;
  height: 53px;
  border-radius: 4px;
  background: #02897a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.hero-btn2 {
  padding-left: 30.5px;
  color: #02897a;
  font-size: 16px;
  font-weight: 600;
  text-decoration-line: underline;
  background: transparent;
}

.product-h1 {
  margin-top: 114px;
  color: #22343d;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0;
}

.figur,
.blue,
.heart,
.orange {
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.figur {
  background: #4d8dff;
}

.heart {
  background: #740a76;
}

.blue {
  background: #02897a;
}

.orange {
  background: #f03e3d;
}

.figur span {
  color: white;
  font-size: 20px;
  transform: rotate(-80deg);
}

.product-card h1 {
  color: #22343d;
  font-size: 22px;
  font-weight: 600;
  margin: 30px 0 13px 0;
}

.product-card p {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.products-h1 {
  color: #22343d;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.figur,
.blue,
.heart,
.orange {
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.figur {
  background: #4d8dff;
}

.heart {
  background: #740a76;
}

.blue {
  background: #02897a;
}

.orange {
  background: #f03e3d;
}

.figur2 span {
  color: white;
  font-size: 20px;
}

.figur3 {
  color: white;
  font-size: 20px;
}

.products-cards h1 {
  color: #22343d;
  font-size: 22px;
  font-weight: 600;
  margin: 30px 0 13px 0;
}

.products-cards p {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.product-h1 {
  color: #22343d;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.figur,
.blue,
.heart,
.orange {
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.figur {
  background: #4d8dff;
}

.heart {
  background: #740a76;
}

.blue {
  background: #02897a;
}

.orange {
  background: #f03e3d;
}

.figur4 span {
  color: white;
  font-size: 20px;
}

.product-nav h1 {
  color: #22343d;
  font-size: 22px;
  font-weight: 600;
  margin: 30px 0 13px 0;
}

.product-nav p {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.product-btn {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-btn button {
  width: 175px;
  height: 53px;
  border-radius: 4px;
  background: #02897a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-text h5 {
  color: #22343d;
  font-size: 16px;
  font-weight: 600;
  margin-top: 372px;
}

.info-text h1 {
  color: #22343d;
  font-size: 32px;
  font-weight: 700;
  padding: 23px 0 30px 0;
}

.info-text p {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.info-nav h3 {
  color: #22343d;
  font-size: 16px;
  font-weight: 600;
  padding: 30px 0 12px 0;
}

.info-nav p {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.info-title h3 {
  color: #22343d;
  font-size: 16px;
  font-weight: 600;
  padding: 26px 0 12px 0;
}

.info-title p {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.info-img {
  margin-top: 327px;
}

#title {
  margin-top: 196.04px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title-text h5 {
  color: #22343d;
  font-size: 16px;
  font-weight: 600;
}

.title-text h1 {
  color: #22343d;
  font-size: 32px;
  font-weight: 700;
  margin: 8px 0 23px 0;
}

.title-text {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.figur-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: #ff9900;
  border-radius: 40%;
}

.figur-card span {
  color: white;
  font-size: 20px;
}

.title-cards {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.title-cards p {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-left: 30px;
}

.title- h5 {
  color: #22343d;
  font-size: 16px;
  font-weight: 600;
}

.title-text {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.figur-navd {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f03e3d;
  width: 35px;
  height: 35px;
  border-radius: 40%;
}

.figur-navd span {
  color: white;
  font-size: 20px;
}

.title-navs {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.title-navs p {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-left: 30px;
}

.figur-infod {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4d8dff;
  width: 35px;
  height: 35px;
  border-radius: 40%;
}

.figur-infod span {
  color: white;
  font-size: 20px;
}

.title-infos {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.title-infos p {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-left: 30px;
}

#main {
  margin-top: 168px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-text h4 {
  color: #22343d;
  font-size: 16px;
  font-weight: 600;
}

.main-text h1 {
  color: #22343d;
  font-size: 32px;
  font-weight: 700;
  padding: 8px 0 23px 0;
}

.main-text p {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.main-info h5 {
  color: #22343d;
  font-size: 16px;
  font-weight: 600;
  padding: 30px 0 12px 0;
}

.main-nav h5 {
  color: #22343d;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
  padding: 25px 0 12px 0;
}

.main-nav p {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

#floor {
  margin-top: 220px;
}

.floor-text h1 {
  color: #22343d;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.floor-text p {
  color: #22343d;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  padding-top: 16px;
}

.floor-nav {
  display: flex;
  align-items: center;
  margin-left: 240px;
}

.floor-main {
  display: flex;
  align-items: center;
}

.floor-nav img {
  margin-left: 16px;
}

.floor-info {
  display: flex;
  align-items: center;
}

.figur5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 274px;
  height: 53px;
  border-radius: 26.5px;
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
  margin-left: 16px;
}

.figur5 h4 {
  color: #2f281e;
  font-size: 16px;
  font-weight: 500;
}

.figur6 {
  width: 274px;
  height: 53px;
  border-radius: 26.5px;
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.figur6 h4 {
  color: #2f281e;
  font-size: 16px;
  font-weight: 500;
}

.figur7 {
  width: 263px;
  height: 53px;
  border-radius: 26.5px;
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.figur7 h4 {
  color: #2f281e;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.floor-info img {
  margin-left: 16px;
}

.floor-mein {
  display: flex;
  align-items: center;
}

.figur8 h4 {
  color: #2f281e;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.figur8 {
  width: 281px;
  height: 53px;
  border-radius: 26.5px;
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.floor-main {
  margin-top: 55px;
  margin-left: 280px;
}

.floor-mein img {
  margin-left: 255px;
}

.floor-btn {
  margin-top: 48px;
  margin-left: 690px;
}

.floor-btn button {
  width: 216px;
  height: 53px;
  border-radius: 4px;
  background: #02897a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

#action {
  margin-top: 155px;
}

.action-text h1 {
  color: #22343d;
  font-size: 34px;
  font-weight: 700;
}

.action-nav {
}

.action-logo {
  top: 220px;
  margin-left: 24px;
}

.action-text p {
  padding-top: 8px;
  color: #22343d;
  font-size: 16px;
  font-weight: 500;
}

.action-info img {
  bottom: 215px;
  margin-top: 33px;
}

.action-logo h4 {
  padding: 24px 0 12px 0;
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
}

.action-logo h4 span {
  color: #22343d;
  font-size: 16px;
  font-weight: 700;
}

.action-logo p {
  color: #22343d;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
}

.action-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-imgg {
  text-align: center;
  margin-top: 64px;
}

#iphone8 {
  margin-top: 150px;
}

.iphone-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iphone8-text {
  text-align: center;
}

.iphone8-text h1 {
  color: #22343d;
  font-size: 34px;
  font-weight: 700;
}

.iphone8-text h5 {
  padding: 8px 0 50px 0;
  color: #22343d;
  font-size: 16px;
  font-weight: 500;
}

.iphone-info {
  margin-top: 50px;
  width: 322.649px;
  height: 456px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.iphone8-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}

.iphone-info {
  text-align: center;
  padding-top: 24px;
}

.iphone8-card span {
  color: #02897a;
  text-align: center;
  font-size: 76px;
  font-weight: 700;
  color: #02897a;
}

.iphone8-card h6 {
  font-size: 30px;
  color: #02897a;
  font-size: 24px;
  font-weight: 700;
}

.iphone8-card h5 {
  color: var(--second-text, #afafaf);
  font-size: 16px;
  font-weight: 400;
}

.iphone-cards {
  padding-top: 40px 0;
  color: #22343d;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.2px;
}

.iphone-cards h5 {
  margin-top: 40px;
  color: #22343d;
  font-size: 16px;
  font-weight: 500;
}

.samsung-main {
  text-align: center;
}

.samsung-main h1 {
  color: white;
  font-size: 34px;
  font-weight: 700;
}

.samsung-cards h5 {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.samsung-main {
  text-align: center;
  padding-top: 24px;
  margin-top: 50px;
  width: 322.649px;
  height: 456px;
  border-radius: 8px;
  background: #02897a;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.samsung-main h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.samsung-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}

.samsung-card span {
  color: white;
  text-align: center;
  font-size: 76px;
  font-weight: 700;
}

.samsung-card h6 {
  font-size: 30px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.samsung-card h5 {
  color: #afafaf;
  font-size: 16px;
  font-weight: 400;
}

.samsung-cards {
  padding-top: 40px 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.2px;
}

.samsung-cards h5 {
  margin-top: 40px;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.redmi-main {
  text-align: center;
}

.redmi-main h1 {
  color: #22343d;
  font-size: 34px;
  font-weight: 700;
}

.redmi-main h3 {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
}

.redmi-card h5 {
  padding: 8px 0 50px 0;
  color: #22343d;
  font-size: 16px;
  font-weight: 500;
}

.redmi-main {
  margin-top: 50px;
  width: 322.649px;
  height: 456px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.redmi-card {
  text-align: center;
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}

.redmi-card span {
  color: #02897a;
  text-align: center;
  font-size: 76px;
  font-weight: 700;
  color: #02897a;
}

.redmi-card h6 {
  font-size: 30px;
  color: #02897a;
  font-size: 24px;
  font-weight: 700;
}

.redmi-card h5 {
  padding-top: 50px;
  color: var(--second-text, #afafaf);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.redmi-cards {
  padding-top: 40px 0;
  color: #22343d;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.2px;
}

.redmi-cards h5 {
  margin-top: 40px;
  color: #22343d;
  font-size: 16px;
  font-weight: 500;
}

.wahid-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wahid-text h1 {
  padding: 150px 0 8px 0;
  color: #22343d;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

.wahid-text p {
  color: #22343d;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.wahid-nav {
  margin-top: 50px;
  padding: 28px 0 0 28px;
  width: 327px;
  height: 236px;
  border-radius: 5px;
  border: 1px solid #dedede;
  background: var(--light-background, #fff);
}

.wahid-info {
  display: flex;
  align-items: center;
}

.wahid-nav p {
  padding: 16px 0;
  color: var(--second-text-color, #737373);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.wahid-info p span {
  color: #02897a;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.wahid-info p {
  padding-left: 16px;
  color: var(--text-color, #252b42);
  font-size: 14px;
  font-weight: 500;
}

#boost {
  margin-top: 157px;
}

.boost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boost {
  margin-left: 250px;
  width: 968px;
  height: 345px;
  border-radius: 32px;
  background: #02897a;
  padding: 49px 0 0 51px;
}

.boost-card p {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 151.4%; /* 48.448px */
}

.boost-card button {
  margin-top: 78px;
  padding: 13px 35px 7px 33px;
  border-radius: 8px;
  background: #fff;
  color: #02897a;
  font-size: 20px;
  font-weight: 600;
}

#footer {
  margin-top: 150px;
}

.footer-span {
  display: flex;
  align-items: center;
}

.figur10 {
  width: 40px;
  height: 40px;
  background: #02897a;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.figur10 span {
  color: #fff;
  font-size: 18px;
}

.figur11 {
  width: 40px;
  height: 40px;
  background: #02897a;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
}

.figur11 span {
  color: #fff;
  font-size: 18px;
}

.figur12 {
  width: 40px;
  height: 40px;
  background: #02897a;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.figur12 span {
  color: #fff;
  font-size: 18px;
}

.footer-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-card {
  display: flex;
  align-items: center;
}

.footer-card h1 {
  color: #173a56;
  font-size: 30px;
  font-weight: 700;
  padding-left: 16px;
}

.footer-span {
  margin-top: 25px;
}

.footer-card p span {
  color: #22343d;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

.footer-card p {
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px; /* 218.75% */
}

.footer-cards p {
  color: #22343d;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

.figur13 {
  width: 325px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  background: #fff;
  margin: 30px 0 21px 0;
}

.footer-cards button {
  width: 131px;
  height: 39px;
  border-radius: 4px;
  background: #22343d;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.container h4 {
  text-align: center;
  color: #22343d;
  font-size: 16px;
  font-weight: 400;
  padding: 50px 0 30px 0;
}
